body{
	font-family: 'Lato', sans-serif;
}
img{
	max-width: 100%;
}
.quitar-float{
	float: none;
}
.espacio-arriba{
	margin-top: 100px; 

}
.Pacifico{
	font-family: 'Pacifico', cursive;
}
.grande{
	font-size: 4em;
}
.verde{
	color: #00887C;
}
.se-gris{
	background-color: #eee;

} 
.inline-block{
	float: none;
	display: inline-block;
	margin-right: -4px;
}
.padding-largo{
	padding: 5px 10px;


}
.mediano{
	font-size: 1.5em;
}
.retraso-1{
	-webkit-animation-delay:1s;
	-moz-animation-delay:1s;
	animation-delay: 1s;
}
.retraso-2{
	-webkit-animation-delay:2s;
	-moz-animation-delay:2s;
	animation-delay: 2s;
}
.retraso-3{
	-webkit-animation-delay:3s;
	-moz-animation-delay:3s;
	animation-delay: 3s;
}
.vete-arriba{
	vertical-align: top;
}
.no-lista{
	margin: 0px;
	padding: 0px;
}
.no-lista li{
	list-style-type: none;
}
.espacio-derecha{
	margin-right: 1em;
}
a, .azul{
	color: #009FFF;
}